@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgb(110, 110, 110);
}



html {

    --maxWidth: 500px; 
}
html, body {
    margin: 0;
    padding: 0;
    background-image: url("../images/try6.png");
    background-size: cover;
    background-attachment: fixed;
   
    
    background-repeat: no-repeat;
   
}

a:link {color:ALICEBLUE;}      /* unvisited link */
a:visited {color:ALICEBLUE;}  /* visited link */
a:hover {color: PINK;}  /* mouse over link */
a:active {color:ALICEBLUE;}  /* selected link */


.nav ul {
    margin: 0px;
    border-top: 1px solid transparent;
    padding: 0; /* very important gets rid of default space from nav.*/
  
 
}

.nav li {
    display: inline;
    
}



.homezoid {
 
    display: inline-block;
    margin-top: 20px;
    border-bottom: 65px solid black;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	height: 0px;
	width: 300px;
    position: relative;
  

}

.homezoid span {
    position: absolute;
    top: 20px;
    left: 35%;
    color:aliceblue;
}

.aboutzoid {
    display: inline-block;
    margin-top: 20px;
    border-bottom: 65px solid black;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	height: 0px;
	width: 300px;
    position: relative;
    

}

.aboutzoid span {
    position: absolute;
    top: 20px;
    left: 35%;
    color:aliceblue;

}



.blogzoid {
    display: inline-block;
    margin-top: 20px;
    border-bottom: 65px solid ALICEBLUE;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	height: 0px;
	width: 300px;
    position: relative;

}

.blogzoid span {
    position: absolute;
    top: 20px;
    left: 35%;
    color:#2f303a;

}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }

.no-show {
    border-bottom: 65px solid black;
    opacity: 0.5;
}

.nav a {
    margin-top: 10px;
    display: inline;
    color:aliceblue;
    text-decoration: none;


}

#main-nav {
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
    min-width: 1000px;
    text-align: center;
    font-size: 1.5em;

}



#main-nav li {
    padding: 0 5%;
 
}

.main-header {
    margin-top: 10px;
    background-size: cover;
    background-repeat:no-repeat;

}



#top-div {
    height: 180px;
    padding: 0px;
}

#logo {
    
   /* border: 3px solid aliceblue;
    border-radius: 50%; */
  
        display: block;

    margin-right: auto;
    margin-left: auto;
  
    width: 240px;
    
}

#blog-name {
    
    display: inline;
    margin-left: 20px;
 
    
    font-size: 2em;
    color: aliceblue;
    vertical-align: 30px;

}


#yessir-img {
    width: 50%;
    margin-right: 80px;
    vertical-align: middle;
}

/* top right bottom left */


#yessir-text {
 
    margin-right: 10px;
    
    font-size: 1.5em;
    font-weight: bolder;

    
}

#jordans-img {
    float:right;
    width: 47%;
    margin: 50px 0px 0px 70px;
    vertical-align: middle;

}


#jordans-text {

text-align: center;
margin-top: 190px;
}


.link-text {
    margin-top: 700px;
}

.blog-articles {
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid none;
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    min-width: 1000px;
    max-width: 1200px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}



.container {

    background-color: black;
    background-size: content;
    border-radius: 10px;
    padding: 50px;
    
 
}



#blog-wrapper {
    width: 960px;
    background-color: #2f303a;
    border-radius: 10px;
    padding: 50px;
}

.blogs-container {
    background-color: rgba(0, 0, 0, 0.5)
    background-size: content;
    border-radius: 10px;
    padding: 70px;
    padding-right: 500px;
    PADDING-BOTTOM: 20px;

}





footer {
    height: 200px;
    background-color: black; /*for browsers that dont support gradients*/
    opacity: 0.5;
    overflow: hidden;
    text-align: center;
    margin: auto;
    vertical-align: middle; 
    padding-top: 50px; 
   
   

 
}

.foot-header {
    color: white;

    
}

.footer-text {
    margin-top: 50px;
    color: black;
}


#blog-list-title {
    color: aliceblue;
   

}

.blog-list-text {
 font-size: 1em;
 color: aliceblue;
}

.blog-1-page {
    background-color: rgb(54, 54, 54);
    
}


.classvsid-text {
    font-size: 2em;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 150px;

}

#bloglinks {
    font-size: 1em;
    list-style-type: none;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

.span1 {
    margin-left: 400px;
}

#footcsspic {
    margin-left: 50px;
}


.title-top-white {
    color: aliceblue;

}

.margin-520 {
    margin-left: 520px;
}

.result-sign {
    color: aliceblue;
    font-size: 4em;
    vertical-align: 40%;
}

#something-img {
    vertical-align: 50%;
}




.pink-h4 {
    color: pink;
}

.purple-abd {
    color: #341d5c;
}

.back-abd-blue {
    background-color: #89CFF0;
    border-radius: 25px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 40px;
    width: 550px;
    height: 100px;
}
.back-abd-purple {
    background-color: #9d7fc4;
    border-radius: 25px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 60px;
    width: 300px;
    height: 80px;
}

.bbyblue-h3 {
    color: #89CFF0;
}

.default-text {
    font-size: 1.5em;
    margin-left: 70px;
    margin-right: 100px
    
}

#sizing-idvalues {
    font-size: 1.5em;
    margin-right: 300px;
    margin-left: 100px;
}

.roundbox-EQ {
    border-radius: 25px;
    
    background-image: linear-gradient(to right, rgba(252, 191, 59, 0.822) , rgba(255, 106, 7, 0.692));
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 40px;
    width: 920px;
    height: 100px;
}

#roundbox-smaller {
    width: 620px;
}

.box-text-EQ {
    color:rgb(54, 54, 54);
    font-size: 0.8em;
}

.javadom-text {
    margin-left: 50px;
    margin-right: 200px;
}

.coloured-tags {
    color: #187bcd;
}

.resize-dom {
    width: 500px;
}

.h3-sizing {
    font-size: 22pt;
}

